<ion-content class="profile-content">
  <!-- Header personalizado -->
  <div class="profile-header">
    <div class="profile-avatar">US</div>
    <div class="profile-greeting">
      <div class="profile-hello">Olá, {{ userName }}!</div>
    </div>
    <ion-icon name="notifications" class="profile-notification" (click)="abrirNotificacoes()"></ion-icon>
  </div>

  <!-- Lista de opções -->
  <div class="profile-list">
    <div class="profile-list-item"
         *ngFor="let item of profileOptions"
         (click)="handleOptionClick(item)">
      <span>{{item}}</span>
      <ion-icon name="chevron-forward-outline" class="profile-chevron"></ion-icon>
    </div>
  </div>
</ion-content>
