<ion-header>
  <ion-toolbar class="promo-header">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline" class="promo-back-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="promo-content">
  <div class="promo-message">
    <div class="promo-msg-main">Ainda em desenvolvimento</div>
    <div class="promo-msg-sub">Obrigado pela compreensão</div>
  </div>
  <div class="promo-btn-container">
    <ion-button expand="block" class="promo-btn" (click)="goBack()">Voltar</ion-button>
  </div>
</ion-content>
