.promo-header {
  background: #357a50;
  color: #fff;
  min-height: 70px;
  --background: #357a50;
  --color: #fff;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  align-items: center;
}

.promo-back-icon {
  color: #fff;
  font-size: 1.7rem;
}

/* Centraliza o texto e fixa o botão ao fundo */
.promo-content {
  --ion-background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  position: relative;
}

.promo-message {
  position: absolute;
  top: 0;
  bottom: 100px; /* igual ao bottom do botão */
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.promo-msg-main,
.promo-msg-sub {
  color: #888;
  font-size: 1.18rem;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 400;
}

.promo-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px; 
}

.promo-btn {
  --background: #357a50;
  --color: #fff;
  width: 80vw;
  max-width: 300px;
  height: 55px;
  border-radius: 10px;
  font-size: 1.15rem;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  box-shadow: 0 2px 8px #357a5022;
}
