<ion-content class="home-content">
  <div class="home-header">
    <div class="circle-avatar">NT</div>
    <div class="search-bar">
      <ion-icon name="search-outline" class="search-icon"></ion-icon>
      <input type="text" placeholder="Pesquisar..." class="search-input" />
    </div>
  </div>

  <div class="logo-center">
    <span class="nt-green">NT</span><span class="nt-black">resolve</span>
  </div>

  <div class="menu-icons">
    <div class="menu-item">
      <div class="menu-icon-circle">
        <ion-icon name="thumbs-up-sharp"></ion-icon>
      </div>
      <div class="menu-label">Promoções</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon-circle">
        <ion-icon name="heart-sharp"></ion-icon>
      </div>
      <div class="menu-label">Favoritos</div>
    </div>
    <div class="menu-item">
      <div class="menu-icon-circle">
        <ion-icon name="cart-sharp"></ion-icon>
      </div>
      <div class="menu-label">As Minhas<br>Compras</div>
    </div>
  </div>

  <hr class="divider" />

  <div class="produtos-grid">
    <div class="produto-card" *ngFor="let produto of produtos">
      <img [src]="produto.img" alt="produto" class="produto-img" />
      <div class="produto-preco">{{produto.preco}}</div>
      <div class="produto-nome">{{produto.nome}}</div>
    </div>
  </div>
</ion-content>
