ion-tab-bar.custom-tab-bar {
  --background: #fff;
  --border: none;
  border-top: 2px solid #357a50; /* linha verde fina */
  box-shadow: none;
  height: 62px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: env(safe-area-inset-bottom);

  /* Remove labels */
  ion-label {
    display: none;
  }
}

ion-tab-button {
  --color: #111; /* preto padrão */
  --color-selected: #357a50; /* verde no selecionado */
  background: transparent;
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  box-shadow: none;

  ion-icon {
    font-size: 2.2rem;
    color: var(--color);
    transition: color 0.2s;
  }

  &.tab-selected ion-icon {
    color: #357a50;
    /* destaca o selecionado */
    transform: scale(1.1);
  }
}

/* Remove sombra e borda extra do Ionic */
ion-tab-bar.custom-tab-bar::before,
ion-tab-bar.custom-tab-bar::after {
  display: none !important;
  content: none !important;
}
