<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="home" class="tab-button">
      <ion-icon name="home" class="tab-icon"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="menu" class="tab-button">
      <ion-icon name="menu" class="tab-icon"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cart" class="tab-button">
      <ion-icon name="cart" class="tab-icon"></ion-icon>
      <ion-label>Carrinho</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" class="tab-button">
      <ion-icon name="person" class="tab-icon"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
