// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    /* Força o modo claro e define as cores principais */
    color-scheme: light;
    --ion-background-color: #fff;
    --ion-text-color: #222;
    --ion-color-primary: #3e885b;
    --ion-color-primary-contrast: #fff;
    --ion-color-primary-shade: #35774e;
    --ion-color-primary-tint: #4e996b;
  }
  