<ion-content class="menu-content">
  <!-- Header verde com barra de pesquisa -->
  <div class="menu-header">
    <div class="search-container">
      <ion-icon name="search-outline" class="search-icon"></ion-icon>
      <input type="text" placeholder="Pesquisar..." class="search-input" />
    </div>
  </div>

  <!-- Tabs Produtos/Serviços -->
  <div class="tab-container">
    <div class="tab" [class.active]="activeTab === 'produtos'" (click)="activeTab = 'produtos'">Produtos</div>
    <div class="tab" [class.active]="activeTab === 'servicos'" (click)="activeTab = 'servicos'">Serviços</div>
  </div>

  <!-- Lista de categorias/serviços -->
  <div class="category-list">
    <div class="category-item" *ngFor="let item of activeTab === 'produtos' ? produtos : servicos">
      <span>{{item}}</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>


