<ion-content class="menu-content">
  <!-- Header verde com barra de pesquisa arredondada -->
  <div class="menu-header">
    <div class="search-bar">
      <ion-icon name="search-outline" class="search-icon"></ion-icon>
      <input type="text" placeholder="Pesquisar..." class="search-input" />
    </div>
  </div>

  <!-- Tabs Produtos/Serviços -->
  <div class="tab-container">
    <div class="tab" [class.active]="activeTab === 'produtos'" (click)="activeTab = 'produtos'">Produtos</div>
    <div class="tab" [class.active]="activeTab === 'servicos'" (click)="activeTab = 'servicos'">Serviços</div>
  </div>

  <!-- Lista de categorias/serviços -->
  <div class="category-list">
    <div
      class="category-item"
      *ngFor="let item of activeTab === 'produtos' ? produtos : servicos"
      (click)="abrirCategoria(item)">
      <span>{{item}}</span>
      <ion-icon name="chevron-forward-outline" class="chevron"></ion-icon>
    </div>
  </div>

